<strong>Ol치, {{provider}}</strong>
<p>Houver um cancelamento de hor치rio, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{user}}<br/>
  <strong>Data/Hora: </strong> {{date}}<br/>
  <br/>
  <smal>
    O hor치rio est치 novamentedisponivel para novos agendamentos.
  </smal>
</p>
